@import 'https://fonts.googleapis.com/css?family=Raleway:400,600';
*{
	margin: 0;
	padding: 0;
	transition-duration: 0.5s;
	font-family: 'Raleway', sans-serif;
	font-weight: 400;
	sans-serif;
	text-align: center;
}
img{
	width: 200px;
	margin:auto;
	display: block;
}
h1{margin-bottom: 20px;}
h2{margin-bottom: 20px;}
h4{font-size: 50px; margin: 5px; }
#bloc{
	width: 500px;
	display: block;
	margin: auto; 
	background-color: rgba(255,255,255,0.9);
	padding: 20px;
}
#bloc1{
	width: 750px;
	display: block;
	margin: auto;
	background-color: rgba(255,255,255,0.9);
	padding: 20px;
}
#gauche,#droite{
	width: 50%;
	float: left;
}
#gauche1,#milieu1,#droite1{
	width: 33%;
	float: left;
}
#gauche:hover, #droite:hover, #gauche1:hover, #milieu1:hover, #droite1:hover{
	background-color: #eee;
	box-shadow: 8px 8px 12px #aaa;
}
.icon{
	width: 60px;
	margin: 20px auto 20px auto;
}
.icon1{
	width: 45px;
	margin: 45px auto 20px auto;
}
.icon2{
	width: 60px;
	margin: 30px auto 20px auto;
}
.icon3{
	width: 75px;
	margin: 15px auto 20px auto;
}
.help{width: 50px;
position: relative;
top: 20px;
left: 270px;}
.help1{width: 50px;
position: relative;
top: 20px;
left: 395px;}
.help:hover, .help1:hover {
  -webkit-transform: rotate(15deg) scale(1.1) ;
     -moz-transform: rotate(15deg) scale(1.1) ;
       -o-transform: rotate(15deg) scale(1.1) ;
      -ms-transform: rotate(15deg) scale(1.1) ;
          transform: rotate(15deg) scale(1.1) ;
}



a:link {color: #212121; }
a:visited {color: #212121}
#page, #page1, #page2 ,#page3 ,#page4,#page5,#page8{height: 100vh;}
a:link{text-decoration:none;} 
#page{background: url(img/bg3.jpg) no-repeat center fixed; -webkit-background-size: cover;}
#page1{background-color: rgba(255,255,255,0.8);}
#page2{background: url(img/bg4.jpg) no-repeat center fixed; -webkit-background-size: cover;}
#page3{background-color: rgba(255,255,255,0.8);}
#page4{background: url(img/bg5.jpg)no-repeat center fixed; -webkit-background-size: cover;}

.css-input {font-size:50px; text-align:center; border: none; border-bottom: 1px solid #000; width: 150px;} .css-input:focus { outline:none; }
.top{height: 50px; width: auto; display: block;}
#haut{background-color: rgba(255,255,255,0.5);}
.indecis{border-bottom: 1px solid #999; font-size: 25px;}
.valider{border: 1px solid #999; font-size: 25px; padding: 5px; text-align: center;}
.valider:hover{background-color: #363535; color: #faf9f9}
#telephone1, #telephone2, #telephone3{width: 33.33%; float: left;}
#telephone1 img{margin-bottom: 20px;
width: 50%}
#telephone2 img{margin-bottom: 20px;
width: 50%}
#telephone3 img{margin-bottom: 20px;
width: 50%}
.acheter{border: 1px solid #000;
padding: 5px;}
.acheter:hover{background-color: #363535; color: #faf9f9}
#page6{height: 95vh;}
#page7{height: 5vh;}
#page8{height: 90vh;}
#page9{height: 10vh;}
.affiner{border-bottom: 1px solid #000;
font-size: 30px;}
#tiers1{
	width: 33.33%;
	float: left;
	text-align: left;
}
#tiers2{
	width: 33.33%;
	float: left;
	text-align: left;
}
#tiers3{
	width: 33.33%;
	float: left;
	text-align: left;
}
#page8{height: 100vh;
	background-color: #eee
}
label{font-size: 25px;}
input[type="checkbox"] {
    height: 10px;
    width: 100px;
    margin:-1px 4px 0 0;
}

@media screen and (orientation: portrait){
    #bloc1, #bloc{
	width: 100%;
	padding: 20px 0 20px 0;
	}
	*{
	font-family: 'Raleway', sans-serif;
	font-weight: 600;
}
.icon{
	width: 80px;
	margin: 20px auto 20px auto;
}
.icon1{
	width: 60px;
	margin: 60px auto 20px auto;
}
.icon2{
	width: 80px;
	margin: 40px auto 20px auto;
}
.icon3{
	width: 100px;
	margin: 20px auto 20px auto;
}
#telephone1, #telephone2, #telephone3{width: 100%;}
#tiers1, #tiers2, #tiers3 {
	width: 100%;
	background-color: #eee;
}
#gauche,#droite{
	width: 100%;
	float: left;
}
#gauche1,#milieu1,#droite1{
	width: 100%;
	float: left;
}
.help, .help1{width: 50px;
position: relative;
top: 10px;
left: 0px;
}


#page, #page1, #page2 ,#page3 ,#page4,#page5,#page8{height: 100vh;}
}